albumentations==1.3.1
filesplit==4.0.1
opencv-python==4.9.0.80
scikit-image==0.22.0
imgaug3==0.4.1
kornia==0.5.0
pyclipper==1.3.0.post5
lmdb==1.4.1
PyYAML==6.0.1
omegaconf==2.1.2
tqdm==4.66.1
PySimpleGUI==4.60.5
easydict==1.9
scikit-learn==1.4.0
pandas==2.0.3
webdataset==0.2.86
pytorch-lightning==2.1.3
numpy==1.26.3
protobuf==3.20.2
av==11.0.0
einops==0.7.0
chardet==5.2.0
scipy==1.11.4
shapely==2.0.1
imageio==2.33.1
paddlepaddle==2.6.0